@model WebBirthdayManager.Models.Birthdays.Update.UpdateViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "_Layout";
}

<h2>@Model.PageHeader</h2>
<br/>

<p>
    <strong>@Model.PersonToBeUpdated.Name</strong> (@Model.PersonToBeUpdated.Birthday)
</p>

<form asp-action="Update" asp-controller="Birthdays" method="post">

    <label asp-for="FormModel.NewName">
        @Model.NewNameInputFieldLabel:
    </label>
    <input asp-for="FormModel.NewName" type="text"/>

    <input type="submit" value="@Model.SubmitButtonLabel"/>
</form>