@model TodayViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}


<div class="row">
    <div class="col-md-4" style="width: available">
        
        <h3 >@Model.PageHeader</h3>
        
        @if (Model.PeopleWithBirthdayToday.Any())
        {
            <table class="table">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PeopleWithBirthdayToday.First().Name)</th>
                    <th>@Html.DisplayNameFor(model => model.PeopleWithBirthdayToday.First().Birthday)</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var person in Model.PeopleWithBirthdayToday)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => person.Name)</td>
                        <td>@Html.DisplayFor(model => person.Birthday)</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h5>@Model.NoBirthdaysTodayMessage</h5>
        }
    </div>
</div>